<mat-card aria-label="Liste des attractions">
  <mat-card-header>
    <mat-card-title role="heading" aria-level="1">Bienvenue sur le site internet du parc d'attraction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="attraction-title">
      <div class="attraction">
        <span>Nom de l'attraction</span>
        <span>Description de l'attraction</span>
        <span>Difficulté de l'attraction / 5</span>
      </div>
    </div>
    <ng-container *ngFor="let attraction of attractions | async;">
      <div class="attraction" [attr.aria-label]="'Attraction ' + attraction.nom">
        <span>{{attraction.nom}}</span>
        <span>{{attraction.description}}</span>
        <span>{{attraction.difficulte}} / 5</span>
        <button mat-raised-button color="primary" (click)="navigateToComment(attraction.attraction_id!)">Commenter</button>
        <button mat-button (click)="loadComments(attraction.attraction_id!)">Voir les commentaires</button>
      </div>
      <div *ngIf="comments[attraction.attraction_id!] | async as commentsList">
        <div *ngFor="let comment of commentsList">
          <p>{{comment.first_name}} {{comment.last_name}}: {{comment.content}} ({{comment.rating}}/5)</p>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>