.attraction-title {
  font-size: 18px;
  font-weight: 500;
  background-color: darkgrey;
  width: fit-content;
  margin-top: 25px;
  margin-bottom: 15px;
}
.attraction {
  display: flex;
  align-items: center;
  column-gap: 25px;
  width: fit-content;
  flex-wrap: wrap;
  padding: 10px 0;

  border-bottom: solid 1px grey;
  span {
    padding: 5px;
    width: 250px;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  button {
    margin: 5px;
  }
}